---
import Layout from '../layouts/BlogPost.astro';
import NikoHappy from '../assets/niko-happy.png';
---

<Layout
	title="About Me"
	description="Learn about the lamest person on Earth"
	pubDate={new Date('July 20 2025')}
	mainImage={NikoHappy}
	width={320}
	height={320}
>
	<p>
		Random ass nerd that nobody cares.
	</p>

</Layout>
